<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}

 <html>
 <body>
 {% block content %}
  <div class="about">
    <img src="/static/me.JPG" width="150px" class="portrait">
    <h3>Hi! My name's Dana Albahusain, a 19 year-old Computer Science student
       at The University of Birmingham. Welcome to my humble blog! </h3>
    <br>
    <h3>When I'm not studying, I like to play video games and hang out with my friends
      & family. I also love art and am always seeking to create more of it.</h3>
    <br>
    <h3>I hope you have a pleasant time on here, cheers!</h3>
  </div>
{% endblock %}
 </body>
 </html>
