<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load static %}
 <html>
 <head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <body>
  {% block content %}
     <div class="contact">
       <a href="https://twitter.com/danabhs" target="_blank"><img src="/static/twt-icon.png"></a>
       <a href="https://www.facebook.com/dana.albahusain/" target="_blank"><img src="/static/fb-icon.png"></a>
     </div>
  {% endblock %}
 </body>
 </html>
