{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
      <title>Dana's Blog</title>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Special+Elite&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

    <body>
      {% block home %}
        <div class="homepage">
          <img src="/static/homepage.png" alt="" class="home-photo">
          <div class="intro">
            <h2><strong>Hi there!</strong><br>
              I'm Dana. Welcome to my blog! While initially just being an assignment
              I had to turn in for my studies, this little blog has become something
              I've really enjoyed working on developing. It's not the nicest or most
              professional-looking but I love it and I hope you do too! On here,
              I reflect mostly on my academic journey thus far. Thank you for visiting!</h2>

                <a id="blog-btn" class="btn btn-default" href="{% url 'blog' %}"><strong>Check out the blog!</strong></a>
          </div>
        </div>
      {% endblock %}
    </body>
</html>
