{% extends 'blog/base.html' %}
{% load static %}
<html>
    <head>
      <title>Dana's Blog</title>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>

    <body>
      {% block content %}
        {% for post in posts %}
          <div class="post">
            <div class="date">
              <p> published: {{post.published_date}} </p>
            </div>
            {% if post.photo %}
              <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="width: 400px;">
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}"> {{post.title}} </a></h2>
            <p> {{post.text|linebreaksbr}} </p>
            <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count|linebreaksbr }}</a>
          </div>
        {% endfor %}
      {% endblock %}
    </body>
</html>
