h1 a {
  color: #D4E4D9;
  font-size: 40pt;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #F5E7A0;
  margin: 0;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto 7rem;
  grid-template-areas:
    "head"
    "main"
    "foot";
  grid-gap: 2rem;
}
header {
  grid-area: head;
  background-color: #153B50;
}
main {
  grid-area: main;
  background-color: #F9EFB5;
  margin: auto;
}
main .row {
  display: flex;
  justify-content: center;
}
footer {
  grid-area: foot;
  align-self: center;
  border-top: 2px solid #153B50;
}
#admin-menu {
  list-style-type: none;
  width: auto;
}
#admin-menu li {
  display: inline-block;
  float: none;
  padding: 2rem 6rem 0rem;
}
#admin-menu li a{
  text-decoration: none;
  font-size: 14pt;
  color: #153B50;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem 5rem;
  border: 1px solid transparent;
  transition: 0.5s;
}
#admin-menu li a:hover {
  background-color: #153B50;
  color: #F5E7A0;
}
.admin-menu, .admin-menu a, .gylphicon glyphicon-plus, .glyphicon glyphicon-edit {
  color: #153B50;
  font-size: 12pt;
}
#navbar {
  list-style-type: none;
  text-align: center;
  width: auto;
}
#navbar li {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem 0rem;
}
#navbar li a {
  text-decoration: none;
  font-size: 18pt;
  color: #D4E4D9;
  font-family: 'Caveat', cursive;
  padding: 0.5rem 6rem;
  border: 1px solid transparent;
  transition: 0.5s;
}
#navbar li a.home {
  background-color: #D4E4D9;
  color: #153B50;
}
#navbar li a:hover {
  background-color: #D4E4D9;
  color: #153B50;
}
.logo {
  text-align: center;
}
.logo img {
  width: 35%;
  margin: 0 auto;
}
a {
  color: #2660A4;
  font-size: 11pt;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  color: #153B50;
}
.hr {
  color: #153B50;
  size: 2px;
}
.about h3 {
  color: #153B50;
}
.save {
  float: right;
}
.post-form textarea, .post-form input, .post-form p {
  width: 100%;
  color: #153B50;
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
}
.post-form {
  color: #153B50;
  text-align: center;
}
.post h2, .post h2 a {
  color: #153B50;
  font-size: 30pt;
  margin-bottom: 3%;
  text-align: center;
}
.post p {
  margin-top: 1rem;
  color: #1E4E7A;
  font-size: 18pt;
}
.post {
  margin-bottom: 8rem;
}
.date, .date p, p.date {
  font-family: 'Montserrat', sans-serif;
  color: #828282;
  font-size: 10pt;
}
.post-date {
  margin-top: 3rem;
  font-family: 'Montserrat', sans-serif;
  color: #828282;
  font-size: 11pt;
}
.post img.cover {
  width: 80%;
  border: 1px solid #153B50;
}
.comment {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}
.comment .date {
  margin-top: 5%;
  margin-bottom: 2%;
}
.comment p {
  color: #1E4E7A;
}
strong {
  color: #153B50;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}
h2.upload {
  color: #153B50;
}
a.btn {
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  color: #1E4E7A;
  float: left;
}
button, button.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 11pt;
  color: #1E4E7A;
}
.contact {
  margin: 5rem 0rem;
}
.contact a img {
  width: 12%;
}
.contact a {
  padding: 5rem;
}
.portrait {
  border-radius: 50%;
  border: 0.5px solid #153B50;
}
